

.queue-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.piece-container {
  padding: 10px;

  .piece {
    /*
    offset the padding
    */
    width: calc(var(--block-width) * 2 - 20px);
    height: calc(var(--block-width) * 2 - 20px);
  }
}
