
.stage {
  --gridline-style: 3px solid rgba(0, 0, 0, 0.3);

  /*
  var(--block-width) is defined in home.component.scss
  */
  width: calc(var(--block-width) * 10);
  height: calc(var(--block-width) * 20 + 3px);
  overflow: hidden;

  margin-top: 30px;

  .gridlines-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    border-top: var(--gridline-style);
    border-left: var(--gridline-style);

    .column {
      background: #eee;
      border-right: var(--gridline-style);
      width: var(--block-width);
      height: 100%;

      .block {
        width: 100%;
        height: var(--block-width);
        border-bottom: var(--gridline-style);
      }
    }
  }

}
