
.home-container {
  --block-width: min(100vw / 15, 100vh / 22);

  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  justify-content: center;

  
  .left-panel {
    width: calc(var(--block-width) * 3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    & > * {
      margin: 0 auto 15px;
    }
    .stored-piece {
      width: calc(var(--block-width) * 2.5);
      height: calc(var(--block-width) * 2.5);
      display: block;
      background: #aaa;
      margin-top: 15px;
    }

    .level {
      height: 50px;
    }
    .score {
      height: 50px;
    }
    .rows-cleared {
      height: 50px;
    }

    .new-game {
      background: orange;
    }
    .start {
      background: green;
    }
  }

  .central-panel {
    width: calc(var(--block-width) * 10);
    height: calc(var(--block-width) * 20);
    position: relative;
    
    .popup-message-container {
      .popup-message {
        --pos-x: 5;
        --pos-y: 18;

        font: 700 2em "Consolas";

        position: absolute;
        top: calc(var(--block-width) * var(--pos-y));
        left: calc(var(--block-width) * var(--pos-x));
        z-index: 1;
        height: auto;
        width: auto;
        padding: 10px;

        transform: translate(-50%, -50%);
        opacity: 0;
        transition: transform 1s, opacity 1s;

        &.show {
          display: block;
          opacity: 1.0;
          transform: translateX(-50%);
          transition: none;
        }

        &.hide {
          display: none;
        }
      }
    }

    .game-over {
      position: relative;
      top: 0;
      left: 0;
      transform: translateY(-100%);

      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;

      color: white;
      font-size: 3em;
      font-weight: bolder;
    }
  }

  .right-panel {
    width: calc(var(--block-width) * 2);
    height: auto;
  }

  .button {
    user-select: none;
    cursor: pointer;
    width: 80%;
    margin: auto;
    padding: 5px;

    &:hover {
      background: #eee;
    }
    
  }

}
