<div class="home-container">
  <div class="left-panel">

    <piece
      [size]="'30px'"
      [piece]="game.gameData.heldTetrimino"
      class="stored-piece"></piece>

    <div class="level">
      level: {{ game.statistics.level }}
    </div>
    <div class="score">
      score: {{ game.statistics.score }}
    </div>
    <div class="rows-cleared">
      rows cleared: {{ game.statistics.rewarded_lines_cleared }}
    </div>
    <div
        class="button new-game"
        (click)="newGame()">
      New Game
    </div>
    <div class="button start"
        (click)="startButtonClick()">
      {{
        !newGameStarted ?
          "Start" :
        game.control.paused ?
          "Pause" :
          "Continue"
      }}
    </div>
  </div>
  <div class="central-panel">
    <ng-container *ngIf="!game.gameData.isGameOver">
      <div class="popup-message-container">
        <ng-container *ngFor="let i of [0, 1, 2, 3, 4]">
          <div #popupMessageContainer
              class="popup-message">
            {{ this.messages[i] }}{{ i }}
          </div>
        </ng-container>
      </div>
    </ng-container>
    <app-stage #gameStage></app-stage>
    <div *ngIf="game.gameData.isGameOver" class="game-over">
      Game Over!
    </div>
  </div>
  <div class="right-panel">
    <app-queue></app-queue>
  </div>
</div>