<div class="home-container">
  <div class="left-panel">

    <piece
      [size]="'30px'"
      [piece]="game.stored"
      class="stored-piece"></piece>

    <div class="level">
      level: {{ game.level }}
    </div>
    <div class="score">
      score: {{ game.score }}
    </div>
    <div class="rows-cleared">
      rows cleared: {{ game.rowsCleared }}
    </div>
    <div
        class="button new-game"
        (click)="newGame()">
      New Game
    </div>
    <div class="button start"
        (click)="startButtonClick()">
      {{ !newGameStarted ? "Start" : game.running ? "Pause" : "Continue" }}
    </div>
  </div>
  <div class="central-panel">
    <app-stage #gameStage></app-stage>
    <div *ngIf="game.isGameOver" class="game-over">
      Game Over!
    </div>
  </div>
  <div class="right-panel">
    <app-queue></app-queue>
  </div>
</div>